global:
  scrape_interval:     15s
  evaluation_interval: 15s

# A scrape configuration containing exactly one endpoint to scrape.
scrape_configs:

# ================================================
# Hosts
# ================================================

  - job_name: 'near.node'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:3030']

  - job_name: 'near.nost'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:19002']
